# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# macOS files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/

# VS Code settings
.vscode/

# IDEs
.idea/

# Logs
*.log

# Cache and temporary files
*.tmp
*.temp
